name: Copilot Setup Steps

on:
  workflow_dispatch:

jobs:
  setup:
    name: Setup Copilot Environment
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8
      - uses: DeterminateSystems/nix-installer-action@c5a866b6ab867e88becbed4467b93592bce69f8a
      - uses: DeterminateSystems/magic-nix-cache-action@87b14cf437d03d37989d87f0fa5ce4f5dc1a330b
      - name: Enable direnv
        run: direnv allow
