name: Pull Request

on:
  pull_request:
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  detect-changes:
    outputs:
      nix-files: ${{ steps.changes.outputs.nix-files }}
    runs-on: ubuntu-latest
    steps:
      - uses: dorny/paths-filter@de90cc6fb38fc0963ad72b210f1f284cd68cea36
        id: changes
        with:
          filters: |
            nix-files:
              - "**.nix"
              - "**.age"
              - "flake.lock"
  check:
    needs: detect-changes
    if: ${{ needs.detect-changes.outputs.nix-files == 'true' }}
    strategy:
      matrix:
        os:
          - ubuntu-latest
          - macos-15
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd
      - uses: DeterminateSystems/nix-installer-action@c5a866b6ab867e88becbed4467b93592bce69f8a
      - uses: cachix/cachix-action@3ba601ff5bbb07c7220846facfa2cd81eeee15a1
        with:
          name: dlubawy
      - name: Run flake check
        run: nix develop --command just check
  check-results:
    needs:
      - check
      - detect-changes
    if: ${{ always() && contains(needs.detect-changes.result, 'success') }}
    runs-on: ubuntu-latest
    steps:
      - name: Determine check results
        run: |
          if [[ "${{ contains(needs.*.result, 'failure') }}" == "true" ]]; then
            echo "One or more checks failed" 1>&2
            exit 1
          elif [[ "${{ contains(needs.*.result, 'cancelled') }}" == "true" ]]; then
            echo "One or more checks cancelled" 1>&2
            exit 1
          else
            echo "All checks completed successfully or were skipped"
            exit 0
          fi
  merge:
    if: ${{ github.event.pull_request.user.login == 'dlubawy-bot[bot]' && github.repository == 'dlubawy/nix-configs' }}
    needs: check-results
    runs-on: ubuntu-latest
    steps:
      - uses: actions/create-github-app-token@29824e69f54612133e76f7eaac726eef6c875baf
        id: app-token
        with:
          app-id: ${{ secrets.APP_ID }}
          private-key: ${{ secrets.APP_PRIVATE_KEY }}
      - name: Merge pull request
        run: |
          curl -L \
           -X PUT \
           -H "Accept: application/vnd.github+json" \
           -H "Authorization: Bearer ${{ steps.app-token.outputs.token }}" \
           -H "X-GitHub-Api-Version: 2022-11-28" \
           https://api.github.com/repos/${{github.repository}}/pulls/${{github.event.number}}/merge \
           -d '{"commit_title":"${{github.event.pull_request.title}}","sha":"${{github.event.pull_request.head.sha}}","merge_method":"squash"}'
