name: Update ⬆️

on:
  workflow_dispatch: # allows manual triggering
  schedule:
    - cron: "0 0 * * 5" # runs weekly on Friday at 00:00

permissions:
  contents: write
  pull-requests: write

jobs:
  update:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3
      - uses: DeterminateSystems/nix-installer-action@c5a866b6ab867e88becbed4467b93592bce69f8a
      - uses: actions/create-github-app-token@7e473efe3cb98aa54f8d4bac15400b15fad77d94
        id: app-token
        with:
          app-id: ${{ secrets.APP_ID }}
          private-key: ${{ secrets.APP_PRIVATE_KEY }}
      - name: Update flake.lock
        uses: DeterminateSystems/update-flake-lock@c5930b397a673a70ca70be06020e943aeac310a1
        with:
          pr-title: "chore: update flake.lock" # Title of PR to be created
          pr-labels: | # Labels to be set on the PR
            dependencies
            automated
          token: ${{ steps.app-token.outputs.token }}
